@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://db.onlinewebfonts.com/c/7bec814954d059a7e7dae047285eedbc?family=Satoshi+Medium);
@font-face {
    font-family: "Satoshi Medium";
    src: url("https://db.onlinewebfonts.com/t/7bec814954d059a7e7dae047285eedbc.eot");
    src: url("https://db.onlinewebfonts.com/t/7bec814954d059a7e7dae047285eedbc.eot?#iefix")
            format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/7bec814954d059a7e7dae047285eedbc.woff2")
            format("woff2"),
        url("https://db.onlinewebfonts.com/t/7bec814954d059a7e7dae047285eedbc.woff")
            format("woff"),
        url("https://db.onlinewebfonts.com/t/7bec814954d059a7e7dae047285eedbc.ttf")
            format("truetype"),
        url("https://db.onlinewebfonts.com/t/7bec814954d059a7e7dae047285eedbc.svg#Satoshi Medium")
            format("svg");
}
body {
    margin: 0;
    font-family: "Satoshi Medium" !important;
}
